* {
  //Set everything to default
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainWhite: #fff;
$mainGrey: #ececec;

$mainBrown: #1f2605;
$darkGreen: #1f6521;
$lightGreen: #53900f;
$darkYellow: #a4a71e;
$lightYellow: #d6ce15;

body {
  font-family: "Montserrat", sans-serif;
  background-color: $mainBlack;
}
